@model MinhasFinancas.Web.ViewModels.TransacaoViewModel

@{
    ViewBag.Title = "Delete Transação";
}

<h2>Delete Transação</h2>

<div>
    <h4>@ViewBag.Papel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PapelId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Papel.Codigo) - @Html.DisplayFor(model => model.Papel.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorUnt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorUnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoTransacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoTransacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar", "Index", new { area = "" }, new { @class = "btn btn-info" })
        </div>
    }
</div>
