@model IEnumerable<MinhasFinancas.Web.ViewModels.PapelViewModel>

@{
    ViewBag.Title = "Papeis";
}
<style>
    .btn {
        padding: 0;
    }
</style>

<h2>Papeis</h2>

<p>
    @Html.ActionLink("Novo Papel", "Create", new { area = "" }, new { @class = "btn btn-success" })
</p>
<p>
    @ViewBag.totalSaldo - @ViewBag.totalSaldoAtual - @ViewBag.deltaPercentTotal
</p>
<table class="table table-striped">
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.TipoPapel)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.CotacaoAtual)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th scope="col">
            -
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.QuantidadeTotal)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.PrecoMedio)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.TotalSaldo)
        </th>
        <th scope="col">
            %
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.TotalSaldoAtual)
        </th>
        <th scope="col">
            %
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Valorizacao)%
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.GanhoUnt)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.GanhoTotal)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.DividendosTotal)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.PercentDividendos)
        </th>
        <th scope="col">
            -
        </th>
        <th scope="col"></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td  scope="row">
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td  scope="row">
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td  scope="row">
            @Html.DisplayFor(modelItem => item.TipoPapel)
        </td>
        <td scope="row">
                @item.CotacaoAtual.ToString("C")
                @*@Html.DisplayFor(modelItem => item.CotacaoAtual)*@
            </td>
        <td  scope="row">
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td  scope="row">
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td  scope="row">
            -
        </td>
        <td  scope="row">
            @Html.DisplayFor(modelItem => item.QuantidadeTotal)
        </td>
        <td scope="row">
            @item.PrecoMedio.ToString("C")
            @*@Html.DisplayFor(modelItem => item.PrecoMedio)*@
        </td>
        <td  scope="row">
            @Html.DisplayFor(modelItem => item.TotalSaldo)
        </td>
        <td  scope="row">
            @{ var percentTotal = Math.Round(item.TotalSaldo * 100 / ViewBag.totalSaldo, 2); }
            @percentTotal
        </td>
        <td  scope="row">
            @Html.DisplayFor(modelItem => item.TotalSaldoAtual)
        </td>
        <td  scope="row">
            @{ var percentTotalAtual = Math.Round(item.TotalSaldoAtual * 100 / ViewBag.totalSaldoAtual, 2); }
            @percentTotalAtual
        </td>
        <td  scope="row">
            @Html.DisplayFor(modelItem => item.Valorizacao)%
        </td>
        <td  scope="row">
            @Html.DisplayFor(modelItem => item.GanhoUnt)
        </td>
        <td  scope="row">
            @Html.DisplayFor(modelItem => item.GanhoTotal)
        </td>
        <td  scope="row">
            @Html.DisplayFor(modelItem => item.DividendosTotal)
        </td>
        <td  scope="row">
            @Html.DisplayFor(modelItem => item.PercentDividendos)
        </td>
        <td  scope="row">
            -
        </td>
        <td  scope="row">
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Detalhe", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
